<?xml version="1.0"?>
<robot name="rg2" xmlns:xacro="http://ros.org/wiki/xacro">
    <link name="rg2_body_link">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://mm_rviz_sim/meshes/rg2/rg2.DAE"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://mm_rviz_sim/meshes/rg2/rg2_collision.STL"/>
        </geometry>
      </collision>
    </link>

    <joint name="connected_rg2_ur_joint" type="fixed">
      <parent link="tool0" />
      <child link="rg2_body_link" />
      <origin xyz="0 0 0.0375" rpy="0.0 0 ${pi/2}" />
    </joint>  

    <link name="rg2_eef_link"/>
    <joint name="rg2_eef_joint" type="fixed">
      <origin rpy="0 0 ${-pi/2}" xyz="0.0 0.0 0.195"/>
      <parent link="rg2_body_link"/>
      <child link="rg2_eef_link"/>
    </joint>
</robot>
