<?xml version="1.0" ?>
<launch>
    <node name="loopback_controllers" type="loopback_controller_manager" pkg="loopback_controller_manager">
      <remap from="joint_states" to="joint_states"/>
      <param name="dt" value="0.004" /> 
      <param name="damping" value="0.0" /> 
      <param name="mass" value="0.01" /> 
    </node>
    <!--pos controller-->
    <rosparam command="load" file="$(find mm_rviz_sim)/config/amm_sim_pos_controller.yaml"/>
    <node name="state_separator" pkg="iai_control_utils" type="separate_joint_states.py" args="">
        <remap from="~in_joint_states" to="joint_states"/>
        <remap from="~out_joint_states" to="pos_controller/joint_states"/>
    </node>
    <node name="pos_controller" pkg="iai_control_utils" type="joint_p_ctrl.py" args="">
        <remap from="~pos_command_in" to="~command"/>
        <remap from="~joint_states" to="~joint_states"/>
        <remap from="~vel_command_out" to="vel/command"/>
    </node>

    <!--vel controller-->
    <rosparam command="load" file="$(find mm_rviz_sim)/config/amm_sim_vel_controller.yaml"/>
    <node name="vel_controllers_spawner" pkg="pr2_controller_manager" type="spawner"  args="vel">
        <param name="joint_state_publish_rate" value="100"/>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="joint_states" to="pos_controller/joint_states"/>
    </node>

</launch>
